*{
    box-sizing: border-box;
    margin: 0px;
    padding: opx;

}

.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.33%}
.col-12{width:100%}

[class*='col-']{
    float: left;
    border: 1px solid gray;
}

.row:after{
    content: '';
    clear:both;
    display: block;
}

.container{
    width: 90%;
    height:auto;
    margin:0 auto;
}
.header-height{
    height: 200px;
}
.menu-height{height:50px}
.body-height{height:600px}
.big-footer-height{height:300px}
.footer-height{height:50px}

/*@media screen and (max-width: 800px) {*/
/*    .test{color: brown;*/
/*    }*/

/*}*/

/*@media screen and (min-width: 650px) and  (max-width: 1080px){*/
/*    .test2{background-color: darkgreen;*/
/*    }*/


/*}*/
/*@media screen and (max-width: 700px) {*/
/*    p{background-color: brown;*/

/*    }*/

/*}*/
/*@media screen and (min-width: 701px) {*/
/*    .jenny{*/
/*        background-color:saddlebrown;*/
/*        margin: 10px 5px;*/
/*    }*/

/*}*/

@media screen and (max-width: 600px) {
    [class*='col-']{
        width: 100%;
    }

}
@media screen and (min-width: 610px) and (max-width: 1100px){
    .col-m1{width:8.33%}
    .col-m2{width:16.66%}
    .col-m3{width:25%}
    .col-m4{width:33.33%}
    .col-m5{width:41.66%}
    .col-m6{width:50%}
    .col-m7{width:58.33%}
    .col-m8{width:66.66%}
    .col-m9{width:75%}
    .col-m10{width:83.33%}
    .col-m11{width:91.33%}
    .col-m12{width:100%}

    .d-none{
        display: none;
    }
    .position-relative{
        position: relative;
    }

    .search-div{
        position: absolute;
        right: 0px;
    }
}